/* Estilos generales */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ccdbf2;
}

h1 {
  color: #35a716;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.8em;
  border-bottom: 2px solid #9a4660;
  padding-bottom: 10px;
}

/* Estilos para los controles de formulario */
label {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  color: #0909b3;
}
select {
  padding: 8px 5px;
  border: 1px solid #0dd;
  border-radius: 4px;
  background-color: #f9e1e1;
  margin-right: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}
select:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Un resaltado más visible */
  outline: none; /* A menudo se quita el outline por defecto si se reemplaza */
}

/*Estilos del botón*/
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: darkgrey;
}
button:active {
  position: relative; /* Necesario para usar top/left */
  top: 1px; /* Simula un pequeño hundimiento */
}
/* Estilo de foco que SÓLO debería aparecer con navegación por teclado */
button:focus-visible {
  outline: 3px solid dodgerblue;
}

/* Estilos para las tablas */
.contenedor-tablas {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* Hacer que  el contenido de las celdas sea en todas las filas uniforme*/

table {
  border-collapse: collapse;
  width: 30%;
  min-width: 250px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  table-layout: fixed;
}
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  overflow: hidden; /* Evitar que el contenido se desborde */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el contenido es demasiado largo */
  white-space: nowrap; /* Evitar el salto de línea */
  height: 50px; /* Altura uniforme para todas las filas */
  vertical-align: middle; /* Centrar el contenido verticalmente */
  box-sizing: border-box;
}
thead td {
  background-color: #eab8b8;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  overflow: visible;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  font-size: 1.2em;
}
tbody td {
  height: 50px; /* Altura uniforme para todas las filas */
}
tbody tr:nth-child(even) {
  background-color: #f4dddd;
}
tbody tr:hover {
  background-color: #f1f1f1;
}
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

caption {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/* Asegurar que las celdas se adapten a la altura de las filas */
td,
th {
  height: 100%; /* Asegurar que las celdas ocupen toda la altura de la fila */
  vertical-align: middle; /* Centrar el contenido verticalmente */
  padding: 10px; /* Espaciado interno uniforme */
  text-align: center; /* Centrar el contenido horizontalmente */
}
